@media screen and (max-width:850px){
    .menu-navegation{
        width: 50vw;
    }
    .title{
        font-size: 40px
    }
    .container-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    .desinger-service{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 80%;
    }
    .img-gallery{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon{
         margin-left: 0;
    }
    .social-media i{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}